/* Estilos padrão para todos os dispositivos */

/* Estilos específicos para dispositivos com largura menor que 600px (exemplo de ponto de quebra) */
@media (max-width: 600px) {
  /* Estilos para dispositivos móveis */
}

/* Estilos específicos para dispositivos com largura maior que 1200px (exemplo de ponto de quebra) */
@media (min-width: 1200px) {
  /* Estilos para laptops e dispositivos de tela grande */
}

.img-responsive {
  max-width: 100%;
  height: auto;
}


body {
  margin: 0;
  padding: 0;
  background-color: black;
}
#game-start {
  position: relative;
  height: 100vh;
}
#audio-container {
  display: none;
}


.background-image {
  position: absolute;
  top: 50%;
  left:50%;
  width: 80%;
  height: 75%;
  transform: translate(-50%, -50%);
  background-image: url(../images/entrada.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 100%;
}

#button-container {
  position: absolute;
  top: 2%; /* Ajuste conforme necessário */
  left: 12%; /* Ajuste conforme necessário */
  display: relative;
  gap: 10px
}

#start-button,
#instructions-button {
  position: relative;
  top: 0;
  left: 0;
  width: 140px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  background-color: black;
  color: #4384b9;
  border: 2px solid;
  border-radius: 10px;
}


#start-button:hover {
  box-shadow: 0 0 10px 0 #d6dde0 inset, 0 0 20px 2px #18adf1;
  border: 3px solid #18adf1;
  color: #c4d0da;
}

#instructions-button:hover {
  box-shadow: 0 0 10px 0 #d6dde0 inset, 0 0 20px 2px #18adf1;
  border: 3px solid #18adf1;
  color: #c4d0da;
}

#instructions {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  }

.instructions-content {
   position: relative;
  top: calc(100% + 10px);
  left: 60%;
  transform: translateX(-50%);
  background-color: #879196;
  padding: 20px;
  border: 2px solid;
  box-shadow: 0;
  border-radius: 8px;
  text-align: center;
  color: #0e1011;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  opacity: 0;
  visibility:hidden;
  pointer-events: none;
  transition: opacity 0.5s, visibility 0s linear 0.5s;
}

.jon {
    max-width: 30%; /* Ajuste o tamanho máximo da imagem conforme necessário */
    height: auto; /* Manter a proporção da imagem */
  }
  

#game-screen {
  display: none;
  align-content: center;
  position: absolute;
  background-image: url(../images/muralha.jpg);
  background-size: cover;
  animation: slide 5s linear infinite;
  overflow:hidden;
  padding: 20px 0;
   background-position: center;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 20px;
 }

 #score, #lives {
  color: black;
}

@keyframes slide {
0% {
  background-position: 1500px 0;
}
95% {
  background-position: 0 0;
}
100% {
  background-position: -50px 0;
}
}


#game-over {
  display: none;
  top: 50%;
  left: 5%;
  text-align: center;
}

.game-over-foto {
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  width:50%;
  height: 80%;
  position: absolute;
  background-position: center;
  transform: translate(-50%, -50%);
  }
  
#restart-button {
  line-height: 40px;
  font-size: 20px;
  background-color: black;
  color: #4384b9;
  border: 2px solid;
  border-radius: 8px;
  text-decoration: none;
  margin-top: 10px;
}

#restart-button:hover {
  box-shadow: 0 0 10px 0 #d6dde0 inset, 0 0 20px 2px #18adf1;
  border: 3px solid #18adf1;
  color: #c4d0da;
}

.winterfell {
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  width:50%;
  height: 80%;
  position: absolute;
  background-position: center;
  transform: translate(-50%, -50%);
  }
  
#restart-button2 {
  line-height: 40px;
  font-size: 20px;
  background-color: black;
  color: #053861;
  border: 2px solid;
  border-radius: 8px;
  text-decoration: none;
  margin-top: 10px;
}

#restart-button2:hover {
  box-shadow: 0 0 10px 0 #18adf1 inset, 0 0 20px 2px #18adf1;
  border: 3px solid #18adf1;
  color: #18adf1;
}