body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/image-logo.png);
}

#game-start {
  padding: 20px 0px;
  margin-top: 10%;
  width: 100vw;
  height: 100vh;
}

#game-start p {
  font-size: 20px;
  color: #12c2e9;
}

#game-container {
  display: flex;
  width: 100vw;
  justify-content: flex-start;
  color: #12c2e9;
}

#game-container h2 {
  padding-left: 10px;
  padding-right: 5px;
}

#game-container p {
  padding-left: 10px;
  padding-top: 15px;
}


#game-screen {
  display: none;
  align-content: center;
  position: relative;
  background-image: url(../images/muralha.png);
  background-size: cover;
  animation: slide 5s linear infinite;
  width: 100vw;
  height: 100vh;
}

@keyframes slide {

  0% {
      background-position: 1500px 0;
  }

  95% {
      background-position: 0 0;
  }

  100% {
      background-position: -50px 0;
  }
}

#game-over {
  display: none;
}

#game-over h1 {
  color: #12c2e9;

}

#start-button {
  position:relative;
  width: 160px;
  height: 40px;
  line-height: 0px;
  top: 75%;
  left: 00%;
  display: inline-block;
  text-align:center;
  color: #053861;
  font-size: 20px;
  background-color: black;
  padding: 20px 20px;
  border: 2px solid;
  box-shadow: 0;
  border-radius: 8px;
  margin-bottom: 10px;
  margin-right: 10px;
  text-decoration: none;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}


#instruction{
  position:relative;
  width: 160px;
  height: 40px;
  line-height: 0px;
  top: 56%;
  left: -7%;
  display: inline-block;
  text-align:center;
  color: #053861;
  font-size: 20px;
  background-color: black;
  padding: 20px 20px;
  border: 2px solid;
  box-shadow: 0;
  border-radius: 8px;
  margin-bottom: 10px;
  margin-right: 10px;
  text-decoration: none;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}


#mute{
position:relative;
  width: 160px;
  height: 40px;
  line-height: 0px;
  top:56%;
  left: 7%;
  display: inline-block;
  text-align:center;
  color: #053861;
  font-size: 20px;
  background-color: black;
  padding: 20px 20px;
  border: 2px solid;
  box-shadow: 0;
  border-radius: 8px;
  margin-bottom: 10px;
  margin-right: 10px;
  text-decoration: none;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

#start-button {
  margin-top: 8%;
  margin-bottom: 1%;
}

#start-button:hover {
  box-shadow: 0 0 10px 0 #18adf1 inset, 0 0 20px 2px #18adf1;
  border: 3px solid #18adf1;
  color: #18adf1;
}

  #instruction:hover {
    box-shadow: 0 0 10px 0 #18adf1 inset, 0 0 20px 2px #18adf1;
    border: 3px solid #18adf1;
    color: #18adf1;
}

#mute:hover {
  box-shadow: 0 0 10px 0 #18adf1 inset, 0 0 20px 2px #18adf1;
  border: 3px solid #18adf1;
  color: #18adf1;
}